
html, body {
  color: rgb(51, 56, 77) !important;
  margin: 0 auto;
  /* height: 100%; */
}

.font-ml {
  font-family: anjalioldlipi, sans-serif;
  font-weight: 400 !important;
  font-style: normal;
}

.bg-dark {
  background: #000;
}

/* Display */
.d-flex {
  display: flex;
}
.hidden {
  display: none;
}
.divider {
  border-bottom: 1px solid rgb(229, 229, 229);
}
.border-bottom {
  border-bottom: 1px solid rgb(163, 163, 163);
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.p-30 {
  padding: 30px;
}
.p-40 {
  padding: 40px;
}
.p-50 {
  padding: 50px;
}

/* Width */
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-100 {
  width: 100%;
}
/* End width */

/* text color */
.text-primary {
  color: rgb(63, 81, 181)
}
.text-secondary {
  color: rgb(168, 168, 168);
}
.text-secondary-2 {
  color: rgb(110, 110, 110);
}
.text-dark {
  color: rgb(56, 56, 56);
}
.text-success {
  color: rgb(139, 195, 74);
}
.text-warning {
  color: rgb(255, 193, 7);
}
.text-pink {
  color: rgb(233, 30, 99);
}
.text-white {
  color: rgb(255, 255, 255);
}
.text-danger {
  color: rgb(244, 67, 54);
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-capitalize {
  text-transform: capitalize;
}
.paragraph {
  text-align: justify;
  text-transform: capitalize;
}
/* End text color */

/* Text align */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
/* End text */

/* Margin */
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}

.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-30 {
  margin-left: 30px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-50 {
  margin-left: 50px;
}

.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-40 {
  margin-right: 40px;
}
.mr-50 {
  margin-right: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
/* ENd margin */
/* Font weight */
.f-w-100 {
  font-weight: 100;
}
.f-w-200 {
  font-weight: 200;
}
.f-w-300 {
  font-weight: 300;
}
.f-w-400 {
  font-weight: 400;
}
.f-w-500 {
  font-weight: 500;
}
.f-w-600 {
  font-weight: 600;
}
.f-w-700 {
  font-weight: 700;
}
.f-w-800 {
  font-weight: 800;
}
.f-w-900 {
  font-weight: 900;
}
.f-bold {
  font-weight: bold;
}
/* End font weight */

/* Font size */
.small {
  font-size: small;
}
.imp-f-s-10 {
  font-size: 10px !important;
}
.imp-f-s-11 {
  font-size: 11px!important;
}
.imp-f-s-12 {
  font-size: 12px!important;
}
.f-s-10 {
  font-size: 10px !important;
}
.f-s-11 {
  font-size: 11px;
}
.f-s-12 {
  font-size: 12px;
}
.f-s-13 {
  font-size: 13px;
}
.f-s-14 {
  font-size: 14px;
}
.f-s-15 {
  font-size: 15px;
}
.f-s-16 {
  font-size: 16px;
}
.f-s-17 {
  font-size: 17px;
}
.f-s-18 {
  font-size: 18px;
}
.f-s-19 {
  font-size: 19px;
}
.f-s-20 {
  font-size: 20px;
}
.f-s-21 {
  font-size: 21px;
}
.f-s-22 {
  font-size: 22px;
}
.f-s-23 {
  font-size: 23px;
}
.f-s-24 {
  font-size: 24px;
}
.f-s-25 {
  font-size: 25px;
}
/* End font size */

/* Button */
.button-primary {
  background: rgb(63, 81, 181);
  font-size: 12px;
  color: rgb(255, 255, 255);
}

/* End button */
.center-display {
  border-radius: 1em;
  padding: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.border {
  border: 1px solid rgb(219, 219, 219);
  padding: 10px;
  border-radius: 3px;
}
.mouse {
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.507);
}
input:focus {
  outline: none !important;
}
.carousel.carousel-slider: {
  overflow: inherit !important;
}
.badge {
  padding: 2px 7px 2px 7px;
  height: 1px;
  font-size: 12px;
  border-radius: 3px;
}
.alert {
  padding: 10px;
  border-radius: 5px;
  text-align: left;
}


.alert-danger {
  background-color: rgba(255, 0, 0, 0.178);
  color: #000;
}



.badge-success,
.notify-success {
  background: rgb(76, 175, 80);
}
.badge-warning,
.notify-success {
  background: rgb(255, 152, 0);
}

.badge-danger,
.notify-danger {
  background: rgb(244, 67, 54);
}

.badge-warning, 
.badge-success, 
.badge-danger, 
.notify-success {
  color: #fff;
}

.notify {
  position: absolute;
  bottom: 6px;
  left: 20px;
  right: 20px;
  padding: 10px;
  border-radius: 3px;
  font-size: 13px;
}

.fadeOut{
  opacity:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
  opacity:1;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}