@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    font-family: 'Open Sans', sans-serif !important;
    background-color: rgb(255, 255, 255) !important;
}
.card-title {
    font-weight: 600;
    font-size: 15px;
}
.MuiPaper-elevation1 {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2), 0px 1px 0px 0px rgba(0,0,0,0.14), 0px 0px 0px 0px rgba(0,0,0,0.12) !important;
}
a {
    color: unset;
    text-decoration: none;
}
.MuiButton-containedPrimary, .MuiButton-containedSecondary {
    box-shadow: unset !important;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
    display: none;
}
.radio label, .checkbox label {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 14px;
    border: 1.2px solid rgb(197, 197, 197);
    border-radius: var(--border-radius);
    box-sizing: border-box;
}
.checkbox {
    --border-radius: 0;
    padding: 5px;
}
.radio label::before, .checkbox label::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 7px;
    height: 7px;
    border-radius: var(--border-radius);
    background-color: rgba(0, 0, 0, 0);
    transform: translate(-50%, -50%);
    transition: background-color 0.25s;
}

.radio :checked ~ label::before, .checkbox :checked ~ label::before {
    background-color: grey;
}

.radio span, .checkbox span {
    color: grey;
    vertical-align: top;
    transition: color 0.25s;
}

.radio :checked ~ span, .checkbox :checked ~ span {
    /* color: limegreen; */
}
.form .form-group {
    margin-bottom: 10px;
}
.centered {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 60vh;
}
.srv-validation-message, .error {
    color: red;
    font-size: 13px;
}
.MuiCardContent-root:last-child {
    padding-bottom: 16px !important;
}